<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="civil" class="com.arm.spring.Civil"/>
    <bean id="mech" class="com.arm.spring.Mechanical"/>
    <bean id="cs" class="com.arm.spring.ComputerScience"/>
    <bean id="regAdmin" class="com.arm.spring.RegistrationAdmin">
        <property name="branch" ref="civil"/>
    </bean>
</beans>